body {
    color:black;
    background-color:#3273c98c;
     font-family: "Mogra", system-ui;
      margin-bottom: 100px;
}

header {
    margin: 20PX;
    font-size: 30;
    border-bottom: solid 2px white;
    color: aliceblue;
}

h1 {
    font-size: 50px

}

p {
    font-size: 20px;
}

.chamada{ 
    background: rgb(112, 149, 192);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 2%;
}

img {
    height: 500px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0,3;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(255, 255, 255);
}

.categoria h2 {
    color: rgba(255, 252, 252, 0.89);
}

